*,body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*  Prefix Box-sizing  */
    @include prefixer(box-sizing,border-box);
    /* Prefix Background-size  */
    @include prefixer(background-size,cover);
    background-position: center center;
    background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: $second-font;
}
