//- WebSite Color
$primary-color:   #e40914;
$second-color:    #1e1e1e; // background
$third-color:     #7c7c7c; // form login Slash & Form Container
$white-color:        #fff;
$hover-color:     #b30710;
$footer-bg-color:    #111;
$overlay-color:      #000;
$spinner-color-gold: #ffd700;
//- Color Social Media Icons
$fb:   #3b5998;
$tw:   #1da1f2;
$in:   #c32aa3;
$be:   #053eff;
$gt:   #5a5959;
$l-in: #007bb5;

//- Font Family
$primary-font: 'Ubuntu', sans-serif; // Use In NavBar & Form
$second-font: 'Lato', sans-serif; // Use In All

// Login Page Overlay Opacity
$overlay-opacity: 0.75;
//input color
$input-color: #aaa;
// Login Btn Box-Shado
$btn-shadow-color:  #000;
// form login Slash
$form-Slash-color:  #636363;
